In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("MovieLensSQL")

config.set("spark.local.dir", "/home/ubuntu/spark-temp")

# while using "hive.metastore.warehouse.dir, we should not use spark warehouse dir
config.set("hive.metastore.uris", "thrift://localhost:9083")
config.set("hive.metastore.warehouse.dir", "hdfs://localhost:9000/user/hive/warehouse")

from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame
spark = SparkSession.builder\
                    .config(conf=config)\
                    .enableHiveSupport()\
                    .getOrCreate()

sc = spark.sparkContext

Warning: Ignoring non-Spark config property: hive.metastore.uris
Warning: Ignoring non-Spark config property: hive.metastore.warehouse.dir
22/03/08 01:30:21 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/08 01:30:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/08 01:30:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/08 01:30:22 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/03/08 01:30:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# hdfs dfs -ls /movies
# hdfs dfs -ls /ratings

In [4]:
# how to create schema programatially instead of using inferSchema
from pyspark.sql.types import StructType, LongType, StringType, IntegerType, DoubleType

movieSchema = StructType()\
                    .add("movieId", IntegerType(), True)\
                    .add("title", StringType(), True)\
                    .add("genres", StringType(), True)

ratingSchema = StructType()\
                    .add("userId", IntegerType(), True)\
                    .add("movieId", IntegerType(), True)\
                    .add("rating", DoubleType(), True)\
                    .add("timestamp", LongType(), True)

In [5]:
# read movie data
# read using dataframe with define schema
# we can use folder path -  all csv in the folder read
# use file path - only that file read

#spark is a session, entry point for data frame/sql
movieDf = spark.read.format('csv')\
                    .option('header', True)\
                    .schema(movieSchema)\
                    .load("hdfs://localhost:9000/movies")

movieDf.printSchema()
movieDf.show(2)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [6]:
ratingDf = spark.read.format('csv')\
                    .option('header', True)\
                    .schema(ratingSchema)\
                    .load("hdfs://localhost:9000/ratings")

ratingDf.printSchema()
ratingDf.show(2)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

In [7]:
# we haven't configured hive yet
# that is why we only have the defauly db
spark.sql("""
    SHOW DATABASES
"""
         ).show()

+------------+
|databaseName|
+------------+
|     default|
|     moviedb|
|    moviesdb|
|    ordersdb|
|  productsdb|
|      testdb|
+------------+

In [8]:
# create a temp table/temp view from data frame
movieDf.createOrReplaceTempView("movies")
ratingDf.createOrReplaceTempView("ratings")

In [9]:
# two temp tables will be listed from default db
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| default|   brands|      false|
| default|employees|      false|
| default|  moviedb|      false|
| default| payroles|      false|
|        |   movies|       true|
|        |  ratings|       true|
+--------+---------+-----------+

In [10]:
spark.sql("""
    SELECT * FROM movies LIMIT 5
    """
         ).show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+

In [11]:
spark.sql("""
    SELECT * FROM ratings LIMIT 5
    """
         ).show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+

In [12]:
# spark sql returns dataframe
df1 = spark.sql("SElECT userId, rating FROM ratings")
df1.printSchema()
df1.rdd.take(3)

root
 |-- userId: integer (nullable = true)
 |-- rating: double (nullable = true)

[Row(userId=1, rating=4.0),
 Row(userId=1, rating=4.0),
 Row(userId=1, rating=4.0)]

In [13]:
# rating analytics for popular movies
popularMovieDf = spark.sql("""
        SELECT movieId, avg(rating) AS avg_rating, count(userId) AS total_ratings
        FROM ratings
        GROUP BY movieId
        """)     

popularMovieDf.printSchema()
popularMovieDf.show(5)

root
 |-- movieId: integer (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+-----------------+-------------+
|movieId|       avg_rating|total_ratings|
+-------+-----------------+-------------+
|   1580|3.487878787878788|          165|
|   2366|             3.64|           25|
|   3175|             3.58|           75|
|   1088|3.369047619047619|           42|
|  32460|             4.25|            4|
+-------+-----------------+-------------+
only showing top 5 rows

In [14]:
# rating analytics for popular movies
# create a temporary view out of SQL SELECT statement
# CTAS - CREATE TABLE AS
# the popular_movies will have output analytical query
spark.sql("""
    CREATE OR REPLACE TEMP VIEW popular_movies AS
    SELECT movieId, avg(rating) AS avg_rating, count(userId) AS total_ratings
    FROM ratings
    GROUP BY movieId
    HAVING avg_rating >= 3.5 AND total_ratings >= 100
    """)

DataFrame[]

In [15]:
spark.sql("SHOW TABLES").show()

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
| default|        brands|      false|
| default|     employees|      false|
| default|       moviedb|      false|
| default|      payroles|      false|
|        |        movies|       true|
|        |popular_movies|       true|
|        |       ratings|       true|
+--------+--------------+-----------+

In [16]:
spark.sql("SELECT * FROM popular_movies").show(5)

+-------+------------------+-------------+
|movieId|        avg_rating|total_ratings|
+-------+------------------+-------------+
|    858|         4.2890625|          192|
|   1270| 4.038011695906433|          171|
|   1265| 3.944055944055944|          143|
|    588|3.7923497267759565|          183|
|    296| 4.197068403908795|          307|
+-------+------------------+-------------+
only showing top 5 rows

In [17]:
# join to get the movie title
spark.sql("""
    SELECT movies.movieId, title, avg_rating, total_ratings
    FROM popular_movies
    INNER JOIN movies ON popular_movies.movieID = movies.movieId
    ORDER BY avg_rating DESC
    """).show()

[Stage 17:==============================================>       (171 + 2) / 200]

+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|    318|Shawshank Redempt...| 4.429022082018927|          317|
|    858|Godfather, The (1...|         4.2890625|          192|
|   2959|   Fight Club (1999)| 4.272935779816514|          218|
|   1221|Godfather: Part I...|  4.25968992248062|          129|
|  48516|Departed, The (2006)| 4.252336448598131|          107|
|   1213|   Goodfellas (1990)|              4.25|          126|
|    912|   Casablanca (1942)|              4.24|          100|
|  58559|Dark Knight, The ...| 4.238255033557047|          149|
|     50|Usual Suspects, T...| 4.237745098039215|          204|
|   1197|Princess Bride, T...| 4.232394366197183|          142|
|    260|Star Wars: Episod...| 4.231075697211155|          251|
|    527|Schindler's List ...|             4.225|          220|
|   1208|Apocalypse Now (1...| 4.219626168224299|          107|
|   2329|American History ...| 4.217054263565892|          129|
|   1196|Star Wars: Episod...|4.2156398104265405|          211|
|   1198|Raiders of the Lo...|            4.2075|          200|
|   1193|One Flew Over the...| 4.203007518796992|          133|
|   1089|Reservoir Dogs (1...| 4.202290076335878|          131|
|    296| Pulp Fiction (1994)| 4.197068403908795|          307|
|   2571|  Matrix, The (1999)| 4.192446043165468|          278|
+-------+--------------------+------------------+-------------+
only showing top 20 rows

In [21]:
# CREATE A PERMANENT MANAGED TABLE in HIVE CATALOG
# data will be stored in /user/hive/warehouse/moviedb/popular_movies
# CTAS create table as select
# FIXME

spark.sql("""
    CREATE OR REPLACE TEMP VIEW most_popular_movies AS 
    SELECT movies.movieId, title, avg_rating, total_ratings
    FROM popular_movies
    INNER JOIN movies ON popular_movies.movieID = movies.movieId
    ORDER BY avg_rating DESC
    """)

DataFrame[]

In [23]:
spark.sql("SELECT * FROM most_popular_movies").show(5)

[Stage 23:==================================>                   (128 + 1) / 200]

+-------+--------------------+-----------------+-------------+
|movieId|               title|       avg_rating|total_ratings|
+-------+--------------------+-----------------+-------------+
|    318|Shawshank Redempt...|4.429022082018927|          317|
|    858|Godfather, The (1...|        4.2890625|          192|
|   2959|   Fight Club (1999)|4.272935779816514|          218|
|   1221|Godfather: Part I...| 4.25968992248062|          129|
|  48516|Departed, The (2006)|4.252336448598131|          107|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

In [26]:
# get dataframe from table/temp view
most_popular_moviesDf = spark.table("most_popular_movies")
most_popular_moviesDf.write\
                        .mode('overwrite')\
                        .saveAsTable("moviedb.most_popular_movies")
most_popular_moviesDf.show(5)

[Stage 29:==>                                                     (4 + 1) / 110]22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:===>                                                    (6 + 1) / 110]22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:====>                                                   (9 + 1) / 110]22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
[Stage 29:======>                                                (13 + 1) / 110]22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
[Stage 29:========>                                              (16 + 1) / 110]22/03/08 01:45:29 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:===============>                                       (31 + 1) / 110]22/03/08 01:45:30 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:=============================>                         (58 + 1) / 110]22/03/08 01:45:32 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:==============================>                        (61 + 1) / 110]22/03/08 01:45:32 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:==================================>                    (68 + 1) / 110]22/03/08 01:45:33 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
22/03/08 01:45:33 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:====================================>                  (73 + 1) / 110]22/03/08 01:45:33 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:=======================================>               (79 + 1) / 110]22/03/08 01:45:33 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
22/03/08 01:45:33 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:==========================================>            (84 + 1) / 110]22/03/08 01:45:34 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:45:34 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:45:34 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:45:34 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 29:==================================================>   (103 + 1) / 110]22/03/08 01:45:35 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 32:==========================================>           (157 + 1) / 200]

+-------+--------------------+-----------------+-------------+
|movieId|               title|       avg_rating|total_ratings|
+-------+--------------------+-----------------+-------------+
|    318|Shawshank Redempt...|4.429022082018927|          317|
|    858|Godfather, The (1...|        4.2890625|          192|
|   2959|   Fight Club (1999)|4.272935779816514|          218|
|   1221|Godfather: Part I...| 4.25968992248062|          129|
|  48516|Departed, The (2006)|4.252336448598131|          107|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

In [27]:
spark.sql("SELECT * FROM moviedb.most_popular_movies").show(5)

+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|   4896|Harry Potter and ...|3.7616822429906542|          107|
|   1198|Raiders of the Lo...|            4.2075|          200|
|    293|LÃ©on: The Profess...| 4.018796992481203|          133|
|   6539|Pirates of the Ca...| 3.778523489932886|          149|
|   4993|Lord of the Rings...| 4.106060606060606|          198|
+-------+--------------------+------------------+-------------+
only showing top 5 rows

In [28]:
spark.sql("SHOW TABLES IN moviedb").show()

+--------+-------------------+-----------+
|database|          tableName|isTemporary|
+--------+-------------------+-----------+
| moviedb|most_popular_movies|      false|
| moviedb|             movies|      false|
| moviedb|            ratings|      false|
| moviedb|            reviews|      false|
|        |most_popular_movies|       true|
|        |             movies|       true|
|        |     popular_movies|       true|
|        |            ratings|       true|
+--------+-------------------+-----------+

In [ ]:
# On hive CLI
"""
select * form moviedb.most_popular_movies;
"""