In [1]:
# will always need this 4 lines to start 
import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext("local", "Tuple")

22/02/28 22:11:17 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/02/28 22:11:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/02/28 22:11:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/28 22:11:19 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/02/28 22:11:19 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
stocks = [ # LIST
    # Tuple (symbol, opem, low, high, close)
    ('MSFT', 50, 48, 51, 50.5),
    ('FB', 200, 198, 204, 202.3),
    ('AMD', 90, 88, 92, 91),
    ('TSLA', 100, 90, 90, 100)
]
rdd = sc.parallelize(stocks)

In [3]:
# pick stock where close price is less than or equal to 100. stock[4] is close price
rdd2 = rdd.filter(lambda stock: stock[4] <= 100)
rdd2.collect()

[('MSFT', 50, 48, 51, 50.5),
 ('AMD', 90, 88, 92, 91),
 ('TSLA', 100, 90, 90, 100)]

In [5]:
# find gain for the data
# take close price - open price
rdd3 = rdd.map(lambda stock: stock[4] - stock[1])
rdd3.collect()

[0.5, 2.3000000000000114, 1, 0]

In [8]:
# find gain for the data, but include all the results. Also include
# gain as one element
# tuples do not support mutation
# we have to create a new tuple and include diff
rdd4 = rdd.map(lambda stock: (stock[0], stock[1], stock[2], stock[3], stock[4],
                              stock[4] -  stock[1])
              )
rdd4.collect()

[('MSFT', 50, 48, 51, 50.5, 0.5),
 ('FB', 200, 198, 204, 202.3, 2.3000000000000114),
 ('AMD', 90, 88, 92, 91, 1),
 ('TSLA', 100, 90, 90, 100, 0)]

In [9]:
# add two tuples possible it will create new tuple
(1, 2, 3) + ('a', 'b', 'c')

(1, 2, 3, 'a', 'b', 'c')

In [13]:
# refactoring
# comman is MUST if we make tuple with 1 element in Python
rdd4 = rdd.map(lambda stock: stock + (stock[4] - stock[1],))
rdd4.collect()

[('MSFT', 50, 48, 51, 50.5, 0.5),
 ('FB', 200, 198, 204, 202.3, 2.3000000000000114),
 ('AMD', 90, 88, 92, 91, 1),
 ('TSLA', 100, 90, 90, 100, 0)]