In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("MovieLens")

from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame
spark = SparkSession.builder\
                    .config(conf=config)\
                    .getOrCreate()

sc = spark.sparkContext

22/03/10 03:10:21 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/10 03:10:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/10 03:10:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# hdfs dfs -ls /movies
# hdfs dfs -ls /ratings

In [4]:
# how to create schema programatially instead of using inferSchema
from pyspark.sql.types import StructType, LongType, StringType, IntegerType, DoubleType

movieSchema = StructType()\
                    .add("movieId", IntegerType(), True)\
                    .add("title", StringType(), True)\
                    .add("genres", StringType(), True)

ratingSchema = StructType()\
                    .add("userId", IntegerType(), True)\
                    .add("movieId", IntegerType(), True)\
                    .add("rating", DoubleType(), True)\
                    .add("timestamp", LongType(), True)

In [5]:
# read movie data
# read using dataframe with define schema
# we can use folder path -  all csv in the folder read
# use file path - only that file read

#spark is a session, entry point for data frame/sql
movieDf = spark.read.format('csv')\
                    .option('header', True)\
                    .schema(movieSchema)\
                    .load("hdfs://localhost:9000/movies")

movieDf.printSchema()
movieDf.show(2)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [6]:
ratingDf = spark.read.format('csv')\
                    .option('header', True)\
                    .schema(ratingSchema)\
                    .load("hdfs://localhost:9000/ratings")

ratingDf.printSchema()
ratingDf.show(2)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

In [7]:
print(movieDf.count())
print(ratingDf.count())

9742
100836

In [8]:
ratingDf.take(2)

[Row(userId=1, movieId=1, rating=4.0, timestamp=964982703),
 Row(userId=1, movieId=3, rating=4.0, timestamp=964981247)]

In [9]:
ratingDf.select('rating').show(5)

+------+
|rating|
+------+
|   4.0|
|   4.0|
|   4.0|
|   5.0|
|   5.0|
+------+
only showing top 5 rows

In [10]:
# show the distinct rating
ratingDf.select('rating').distinct().show()

+------+
|rating|
+------+
|   3.5|
|   4.5|
|   2.5|
|   1.0|
|   4.0|
|   0.5|
|   3.0|
|   2.0|
|   1.5|
|   5.0|
+------+

In [11]:
# aggregation with groupBy 
from pyspark.sql.functions import col, desc, avg, count

# find the movies by total ratings by user
df = ratingDf\
        .groupBy("movieId")\
        .agg(count("userId").alias("total_ratings"))\
        .sort(desc("total_ratings"))

df.printSchema()
df.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+-------------+
|movieId|total_ratings|
+-------+-------------+
|    356|          329|
|    318|          317|
|    296|          307|
|    593|          279|
|   2571|          278|
|    260|          251|
|    480|          238|
|    110|          237|
|    589|          224|
|    527|          220|
|   2959|          218|
|      1|          215|
|   1196|          211|
|     50|          204|
|   2858|          204|
|     47|          203|
|    780|          202|
|    150|          201|
|   1198|          200|
|   4993|          198|
+-------+-------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import col, desc, avg, count

# find the movies by total ratings by user
df = ratingDf\
        .groupBy("movieId")\
        .agg(avg("rating").alias("avg_ratings"))\
        .sort(desc("avg_ratings"))

df.printSchema()
df.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- avg_ratings: double (nullable = true)

+-------+-----------+
|movieId|avg_ratings|
+-------+-----------+
|  33138|        5.0|
|    876|        5.0|
| 147300|        5.0|
|  27373|        5.0|
|     53|        5.0|
|  25887|        5.0|
|  84273|        5.0|
| 113829|        5.0|
| 173963|        5.0|
|  26350|        5.0|
|  67618|        5.0|
|    148|        5.0|
| 157775|        5.0|
| 142444|        5.0|
|    633|        5.0|
|    496|        5.0|
|   8911|        5.0|
|   5513|        5.0|
| 152711|        5.0|
| 150554|        5.0|
+-------+-----------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import col, desc, avg, count

# find the popular movies, where as rated by many users, at least movies should be rated by 100 users
# and the average rating should be at least 3.5 and above
# and sort the movies by total_ratings
mostPopularMoviesDf = ratingDf\
        .groupBy("movieId")\
        .agg(avg("rating").alias("avg_rating"), count("userId").alias("total_ratings"))\
        .filter((col("total_ratings") >= 100) & (col("avg_rating") >= 3.5))\
        .sort(desc("total_ratings"))

mostPopularMoviesDf.cache()

mostPopularMoviesDf.printSchema()
mostPopularMoviesDf.show(20)

root
 |-- movieId: integer (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+------------------+-------------+
|movieId|        avg_rating|total_ratings|
+-------+------------------+-------------+
|    356| 4.164133738601824|          329|
|    318| 4.429022082018927|          317|
|    296| 4.197068403908795|          307|
|    593| 4.161290322580645|          279|
|   2571| 4.192446043165468|          278|
|    260| 4.231075697211155|          251|
|    480|              3.75|          238|
|    110| 4.031645569620253|          237|
|    589| 3.970982142857143|          224|
|    527|             4.225|          220|
|   2959| 4.272935779816514|          218|
|      1|3.9209302325581397|          215|
|   1196|4.2156398104265405|          211|
|     50| 4.237745098039215|          204|
|   2858| 4.056372549019608|          204|
|     47|3.9753694581280787|          203|
|    150| 3.845771144278607|          201|
|   1198|            4.2075|          200|
|   4993| 4.106060606060606|          198|
|   1210| 4.137755102040816|          196|
+-------+------------------+-------------+
only showing top 20 rows

In [14]:
# join, inner join
# get the movie title for the mostPopularMoviesDf
# join mostPopularMoviesDf with moveiDf base on condiditon that mostPopularMoviesDf.moveId == movieDf.movieId

popularMoviesDf = mostPopularMoviesDf.join(movieDf, mostPopularMoviesDf.movieId == movieDf.movieId)\
                                     .select(movieDf.movieId, "title", "avg_rating", "total_ratings")
popularMoviesDf.show(100)

+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|      1|    Toy Story (1995)|3.9209302325581397|          215|
|      6|         Heat (1995)| 3.946078431372549|          102|
|     32|Twelve Monkeys (a...| 3.983050847457627|          177|
|     34|         Babe (1995)|        3.65234375|          128|
|     47|Seven (a.k.a. Se7...|3.9753694581280787|          203|
|     50|Usual Suspects, T...| 4.237745098039215|          204|
|    110|   Braveheart (1995)| 4.031645569620253|          237|
|    111|  Taxi Driver (1976)| 4.105769230769231|          104|
|    150|    Apollo 13 (1995)| 3.845771144278607|          201|
|    161| Crimson Tide (1995)|3.6359223300970873|          103|
|    165|Die Hard: With a ...|3.5555555555555554|          144|
|    223|       Clerks (1994)| 3.855769230769231|          104|
|    260|Star Wars: Episod...| 4.231075697211155|          251|
|    293|Léon: The Profess...| 4.018796992481203|          133|
|    296| Pulp Fiction (1994)| 4.197068403908795|          307|
|    318|Shawshank Redempt...| 4.429022082018927|          317|
|    349|Clear and Present...|3.6045454545454545|          110|
|    356| Forrest Gump (1994)| 4.164133738601824|          329|
|    357|Four Weddings and...|3.5194174757281553|          103|
|    364|Lion King, The (1...| 3.941860465116279|          172|
|    377|        Speed (1994)|3.5292397660818713|          171|
|    454|    Firm, The (1993)|3.5346534653465347|          101|
|    457|Fugitive, The (1993)|3.9921052631578946|          190|
|    480|Jurassic Park (1993)|              3.75|          238|
|    527|Schindler's List ...|             4.225|          220|
|    541| Blade Runner (1982)| 4.100806451612903|          124|
|    588|      Aladdin (1992)|3.7923497267759565|          183|
|    589|Terminator 2: Jud...| 3.970982142857143|          224|
|    590|Dances with Wolve...|3.8353658536585367|          164|
|    593|Silence of the La...| 4.161290322580645|          279|
|    595|Beauty and the Be...|3.7705479452054793|          146|
|    608|        Fargo (1996)| 4.116022099447513|          181|
|    648|Mission: Impossib...| 3.537037037037037|          162|
|    733|    Rock, The (1996)|3.6404958677685952|          121|
|    778|Trainspotting (1996)|  4.03921568627451|          102|
|    858|Godfather, The (1...|         4.2890625|          192|
|    912|   Casablanca (1942)|              4.24|          100|
|    924|2001: A Space Ody...|3.8944954128440368|          109|
|   1036|     Die Hard (1988)|3.8620689655172415|          145|
|   1073|Willy Wonka & the...|3.8739495798319328|          119|
|   1089|Reservoir Dogs (1...| 4.202290076335878|          131|
|   1097|E.T. the Extra-Te...|3.7663934426229506|          122|
|   1136|Monty Python and ...| 4.161764705882353|          136|
|   1193|One Flew Over the...| 4.203007518796992|          133|
|   1196|Star Wars: Episod...|4.2156398104265405|          211|
|   1197|Princess Bride, T...| 4.232394366197183|          142|
|   1198|Raiders of the Lo...|            4.2075|          200|
|   1200|       Aliens (1986)|3.9642857142857144|          126|
|   1206|Clockwork Orange,...| 3.995833333333333|          120|
|   1208|Apocalypse Now (1...| 4.219626168224299|          107|
|   1210|Star Wars: Episod...| 4.137755102040816|          196|
|   1213|   Goodfellas (1990)|              4.25|          126|
|   1214|        Alien (1979)| 3.969178082191781|          146|
|   1221|Godfather: Part I...|  4.25968992248062|          129|
|   1222|Full Metal Jacket...| 4.098039215686274|          102|
|   1240|Terminator, The (...|3.8969465648854964|          131|
|   1258| Shining, The (1980)|  4.08256880733945|          109|
|   1265|Groundhog Day (1993)| 3.944055944055944|          143|
|   1270|Back to the Futur...| 4.038011695906433|          171|
|   1291|Indiana Jones and...| 4.046428571428572|          140|
|   1517|Austin Powers: In...|             3.535|          100|
|   1527|Fifth Element, Th...|3.7456896551724137|          116|
|   1682|Truman Show, The ...|             3.812|          125|
|   1704|Good Will Hunting...| 4.078014184397163|          141|
|   1732|Big Lebowski, The...|3.9245283018867925|          106|
|   1923|There's Something...| 3.676190476190476|          105|
|   1968|Breakfast Club, T...|3.7787610619469025|          113|
|   2028|Saving Private Ry...|4.1462765957446805|          188|
|   2115|Indiana Jones and...| 3.638888888888889|          108|
|   2329|American History ...| 4.217054263565892|          129|
|   2571|  Matrix, The (1999)| 4.192446043165468|          278|
|   2716|Ghostbusters (a.k...|             3.775|          120|
|   2762|Sixth Sense, The ...| 3.893854748603352|          179|
|   2858|American Beauty (...| 4.056372549019608|          204|
|   2918|Ferris Bueller's ...|3.8394495412844036|          109|
|   2959|   Fight Club (1999)| 4.272935779816514|          218|
|   3147|Green Mile, The (...| 4.148648648648648|          111|
|   3578|    Gladiator (2000)|3.9382352941176473|          170|
|   3793|        X-Men (2000)| 3.699248120300752|          133|
|   3996|Crouching Tiger, ...|3.8363636363636364|          110|
|   4022|    Cast Away (2000)|               3.7|          100|
|   4226|      Memento (2000)| 4.122641509433962|          159|
|   4306|        Shrek (2001)|3.8676470588235294|          170|
|   4878| Donnie Darko (2001)| 3.981651376146789|          109|
|   4886|Monsters, Inc. (2...| 3.871212121212121|          132|
|   4896|Harry Potter and ...|3.7616822429906542|          107|
|   4963|Ocean's Eleven (2...|3.8445378151260505|          119|
|   4973|Amelie (Fabuleux ...| 4.183333333333334|          120|
|   4993|Lord of the Rings...| 4.106060606060606|          198|
|   4995|Beautiful Mind, A...|               4.0|          123|
|   5349|   Spider-Man (2002)| 3.540983606557377|          122|
|   5418|Bourne Identity, ...|3.8169642857142856|          112|
|   5445|Minority Report (...|            3.6375|          120|
|   5816|Harry Potter and ...|3.5980392156862746|          102|
|   5952|Lord of the Rings...|4.0212765957446805|          188|
|   5989|Catch Me If You C...|3.9217391304347826|          115|
|   6377| Finding Nemo (2003)|3.9609929078014185|          141|
|   6539|Pirates of the Ca...| 3.778523489932886|          149|
|   6874|Kill Bill: Vol. 1...|3.9618320610687023|          131|
|   7153|Lord of the Rings...| 4.118918918918919|          185|
+-------+--------------------+------------------+-------------+
only showing top 100 rows

In [15]:
# write popularMoviesDf to hadopp with header [by defualt headers will not be written]
# overwrite existing files
# 70+ partitions having approx total of 100+ records
# write 70+ files into hadoop
popularMoviesDf.write.mode("overwrite")\
               .option("header", True)\
               .csv("hdfs://localhost:9000/most-popular-movies-many-files")

In [16]:
# write popularMoviesDf into a single file
# coalesce(1) to reduce partitions
popularMoviesDf.coalesce(1).write.mode("overwrite")\
               .option("header", True)\
               .csv("hdfs://localhost:9000/most-popular-movies")

In [17]:
# now read the files back from hdfs
# for schema, we will try to use inferSchema. Let spark to build the shema itself
# use inferSchema for small data set